<footer class="text-center p-3 text-white" style="background-color: black;">
    <section class="container lightp-4 mx-auto" style="margin: 0 auto;">
        <div class="row">


            <img src="../images/Rollex-logo.png" alt="Rollex Store Logo" style="width: 110px; height: 100px;">

            <ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" class="text-light">Home</a>
                </li>
                <li>
                    <a href="#!" class="text-light">Shop</a>
                </li>
                <li>
                    <a href="#!" class="text-light">About Us</a>
                </li>
                <li>
                    <a href="#!" class="text-light">Contact Us</a>
                </li>
            </ul>
        </div>

        <div class="text-center p-3 text-white" style="background-color: black;">
            © 2024 Copyright:
            <a class="text-white" href="#">Rollex Store</a>
        </div>
</footer>